name: App CI/CD Pipeline (Backend & Frontend)

on:
  push:
    branches: [ "master" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.24'

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    # --- BACKEND SECTION ---
    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v2

    - name: Build and Push Docker Image
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        ECR_REPOSITORY: starttech-backend-v2
        IMAGE_TAG: latest
      run: |
        docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG -f backend/MuchToDo/Dockerfile .
        docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG

    - name: Update ECS Service
      run: |
        # We use variables here. Ensure these match your Terraform naming.
        aws ecs update-service --cluster starttech-cluster --service starttech-service --force-new-deployment

    # --- FRONTEND SECTION ---
    - name: Deploy Frontend to S3
      env:
        BUCKET_NAME: ${{ secrets.AWS_S3_BUCKET }}
      run: |
        # This assumes your frontend files are in a folder named 'frontend'
        # Adjust the path './frontend' if your files are in a different folder
        aws s3 sync ./frontend s3://$BUCKET_NAME --delete